{% comment %}
 
Content Card. Accepts: 
Block: Block Item of Section Block

{% endcomment %}



{% assign card_class = "one-card" %}

{% if block.settings.card_width == "2" %}
    {% assign card_class = "two-card" %}
{% endif %}


<a {% if block.settings.url != blank %}href='{{block.settings.url}}'{% endif %} class='collection-card {{ card_class }}'>
    {% if block.settings.image != blank %}
            {{ block.settings.image | image_url: width: block.settings.image.width |  image_tag: class: "collection-card--image" }}
    {% endif %}
    {% if block.settings.text != blank %}
        <div class='content-card--text heading h3'>
            {{ block.settings.text }}
        </div>
    {% endif %}
</a>
